/*Blad eagle image*/
.img{
    width: 70px;
    height: 70px;
}

/*Baby photo*/
.img2{ 
    width: 400px;
    height: 250px;
}

/*All 4 timeline photos*/
#part{
    width: 100px;
    height: 100px;
}
/*Section 1*/
.container-1{
    background-color: #1F2937;
    display: flex;
    justify-content: flex-end;
    border: 2px solid #1F2937;
}

.eagle{
    margin-right: 650px;
    margin-top: 3px;
}

/*Links container*/
.links{
   display: flex;
   width: 200px;
   gap: 60px;
   margin-right: 600px;
   margin-top: 20px;
}

/*Links on header*/
.top{
  align-self: flex-start;
  border: 2px solid red;
}
/*Links button*/
.press{
    background-color:rgb(31, 187, 235);
    width: 90px;
    height: 30px;
}

/*Section 2*/
.container-2{
    border: 2px solid #1F2937;
    background-color: #1F2937;
}

/*Section 3*/
.container-3{

}

/*Section 4*/
.container-4{

}

/*Section 5*/
.container-5{

}

/*Section 6*/
.container-6{

}