/*Blad eagle image*/
.img{
    width: 70px;
    height: 70px;
}

/*Baby photo*/
.img2{ 
    width: 400px;
    height: 250px;
}

/*All 4 timeline photos*/
#part{
    width: 100px;
    height: 100px;
}
/*Section 1*/
.container-1{
    background-color: #1F2937;
    display: flex;
    justify-content: flex-end;
    border: 2px solid #1F2937;
}

.eagle{
    margin-right: 650px;
    margin-top: 3px;
}

/*Links container*/
.links{
   display: flex;
   width: 200px;
   gap: 60px;
   margin-right: 600px;
   margin-top: 20px;
}

/*Links on header*/
.top{
  align-self: flex-start;
  border: 2px solid red;
}
/*Links button*/
.press{
    background-color:rgb(31, 187, 235);
    width: 90px;
    height: 30px;
}

/*Section 2*/
.container-2{
    border: 2px solid #1F2937;
    background-color: #1F2937;
    height: 400px;
}

/*Baby photo*/
.img2{   
    margin-left: 900px;
}

h1{
    color: #F9FAF8;
    text-size-adjust: 48px;
    margin-left: 315px;
}

/*First paragragh*/
.life{
    margin-left: 315px;
    color: #F9FAF8;
}

/*About me button*/
.about{
    margin-left: 315px;
    border-radius: 8px;
}

/*Section 3*/
.container-3{
    display: flex;
    gap: 20px;
    height: 500px;
    justify-content: center;
}
 h2{
     margin-bottom: 250px;
 }

 /*4 pictures*/
 .img3{
    border: 5px solid gold;
    align-self: center;
    border-radius: 8px;
 }

/*Section 4*/
.container-4{
    background-color:#E5E7EB;
    height: 500px;
    display: flex;
}

/*Libra Gif*/
.giphy-embed{
    align-self: center;
}

/*Section 5*/
.container-5{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}

/*Sub container*/
.sub-5{
    background-color:rgb(31, 187, 235);
    border-radius: 8px;
    width: 1200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


/*Section 6*/
.container-6{
    color: white;
    background-color:#1F2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;  
}